#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.grid-row {
  display: flex;
  gap: 5px;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-set {
  background-color: dodgerblue;
}

.color-unset {
  background-color: lightgray;
}
