#root {
  margin: 0 auto;
}

.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1px;
  max-width: 95vw;
  max-height: 85vh;
}

.grid-row {
  display: flex;
  gap: 1px;
}

.cell {
  width: clamp(1px, 8vw, 2rem);
  aspect-ratio: 1 / 1;
}

.color-set {
  background-color: dodgerblue;
}

.color-unset {
  background-color: lightgray;
}
