#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.1rem;
  height: 90vh;
}

.grid-row {
  display: flex;
  gap: 0.1rem;
}

.cell {
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-set {
  background-color: dodgerblue;
}

.color-unset {
  background-color: lightgray;
}
